*
{
    position: relative;
}
#Pname
{
    margin: auto;
    text-align: center;
    background-color: rgb(165, 119, 19));
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#LogBox1
{
    margin: auto;
    border-radius: 25px;
    background-color: rgba(172, 20, 20, 0.5);
    text-align: center;
    padding: 5px;
    width: 400px;
    margin-top: 50px;
}
#LogBox2
{
    margin: auto;
    width: 300px;
    padding-bottom: 5px;
}
#LogBox3
{
    display: block;
}
#LogBox4
{
    display: none;
}
#LogOption1
{
    display: block;
}
#LogError
{
    color: red;
}
